[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	autocrlf = input
[interactive]
	diffFilter = diff-so-fancy --patch
[user]
	email = oliver.eisenhut@frontify.com
	name = Oliver Eisenhut
	signingkey = B10BFE1346E2FD23
[commit]
	gpgsign = true
